:root {
    --body-bg-color: #000011;
    --main-bg-color: #041C32;
    --button-bg-color: #064663;
    --input-bg-color: #8dbdd3;
    --output-bg-color: #175e80;

    --font-input-color: #064663;
    --font-output-color: #e9b771;
    --font-color: #ECB365;
    --font-family-main: 'Inconsolata', monospace;
    --font-family-display: 'Orbitron', monospace;

    --fs-button: 1.25rem;
    --fs-label: 0.85rem;
    --fs-input: 0.9rem;
}

body {
    background-color: var(--body-bg-color);
    color: var(--font-color);
    font-family: var(--font-family-main);
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

/* Style the tab */
.tab {
    display: flex;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: var(--font-family-main);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--font-color);
  color: var(--main-bg-color);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--font-color);
    color: var(--main-bg-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  flex-direction: column;
  gap: 5px;
}

.tabcontent input {
    margin-bottom: 10px;
}

input {
    height: 25px;
    background-color: var(--input-bg-color);
    text-align: center;
    font-size: var(--fs-input);
    font-family: var(--font-family-display);
}

label {
    color: var(--font-color);
    font-size: var(--fs-label);
}

input[readonly] {
    color: var(--font-color);
    background-color: var(--output-bg-color);

    border-radius: 5px;
    border: none;
}

.btn-calculate {
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 10px;
    border-radius: 8px;
    margin-top: 32px;
    border: 1px solid var(--button-bg-color);
    font-family: var(--font-family-main);
    font-weight: bold;
    color: var(--font-color);
    font-size: var(--fs-bt);
    /* box-shadow: inset 2px 2px var(--input-bg-color); */
}

.btn-calculate:hover {
    cursor: pointer;
    color: var(--button-bg-color);
    background-color: var(--font-color);
}